{% load static %}

<p><a href="{% url "profile_detail" user.pk %}"><strong>Список друзей </strong></a>
    {% if owner %}|
        <a href="{{ request.path }}?list=to-me"><strong>Входящие заявки </strong></a>|
        <strong>Исходящие заявки </strong>| {% endif %}
    <a href="{% url "profiles_list" %}"><strong>Поиск среди пользователей</strong></a></p>
{% for friend in friendlist %}
    <div class="list-item">
        <img src="{% if friend.profile.photo %}
                        {{ friend.profile.photo.url }}
                  {% else %}
                        {% static 'img/no-avatar.png' %}
                  {% endif %}" alt="Oooops" class="miniature">
        <p><a href="{{ friend.profile.get_absolute_url }}">{{ friend.username }}</a> ({{ friend.get_full_name }})</p>
        <a href="{% url "cancel_friendship_query" friend.pk %}"><input type="button"
                                                                  style="font-size: 1rem; padding: 3px"
                                                                  value="Отменить заявку"></a>
    </div>
{% empty %}
    <h3>Исходящих заявок на добавление в друзья нет</h3>
{% endfor %}