{% extends "base.html" %}
{% load static users_custom_tags %}

{% block title %}Встреча {{ meet.date|date:"d.m.Y" }}{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static "users/css/meet_detail.css" %}">
    <link rel="stylesheet" href="{% static "users/css/friendlist.css" %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="meet-header">
            <h2>Общее описание</h2>
            <p><b>Создатель встречи:</b> {{ meet.creator.get_full_name|default:meet.creator.username }}</p>
            <p><b>Дата: </b>{{ meet.date|date:"j E Y (l)" }}</p>
            <p><b>Время: </b>{{ meet.time|time:"H:i" }}</p>
            <p><b>Место проведения: </b>{{ meet.location }}</p>
            <p><b>Описание: </b>{{ meet.description }}</p>
            <p><b>Количество участников: </b>{{ meet.players.count }}</p>
        </div>
        <hr>
        <div class="meet-players">
            <h2>Участники:</h2>
            {% for player in meet.players.all %}
                {% list_item_user player %}
            {% empty %}
                <h2>В этой встрече ещё никто не участвует</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}