{% extends 'base.html' %}
{% load static users_custom_tags %}

{% block title %}Управление встречей{% endblock %}
{% block css_addition %}
    <link rel="stylesheet" href="{% static "users/css/meet_detail.css" %}">
    <link rel="stylesheet" href="{% static "users/css/friendlist.css" %}">
{% endblock %}

{% block content %}
    <div class="main-container">
        <div class="meet-header">
            <h2>Общее описание</h2>
            <p><b>Создатель встречи:</b> {{ meet.creator.get_full_name|default:meet.creator.username }}</p>
            <p><b>Дата: </b>{{ meet.date|date:"j E Y (l)" }}</p>
            <p><b>Время: </b>{{ meet.time|time:"H:i" }}</p>
            <p><b>Место проведения: </b>{{ meet.location }}</p>
            <p><b>Описание: </b>{{ meet.description }}</p>
            <p><b>Количество участников: </b>{{ meet.players.count }}</p>
        </div>
        <hr>
        <div class="meet-players">
            <h2>Заявки на участие: </h2>
            {% for player in meet.in_request.all %}
                {% list_item_user player meet_id=meet.pk button="meet_in_request" %}
            {% empty %}
                <p>Заявок нет</p>
            {% endfor %}
        </div>
        <hr>
        <div class="meet-players">
            <h2>Участники: </h2>
            {% for player in meet.players.all %}
                {% list_item_user player meet_id=meet.pk button="meet_player" %}
            {% empty %}
                <p>Участников нет</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}