{% extends 'base.html' %}

{% block title %}Встречи{% endblock %}

{% block css_addition %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <a href="{% url "create_meet" %}"><h3>Создать новую встречу</h3></a>
        <hr>
    {% endif %}
    {% for meet in meets %}
        <div>
            <p><b>Создатель встречи:</b> {{ meet.creator.get_full_name|default:meet.creator.username }}</p>
            <p><b>Дата: </b>{{ meet.date|date:"j E Y (l)" }}</p>
            <p><b>Время: </b>{{ meet.time|time:"H:i" }}</p>
            <p><b>Место проведения: </b>{{ meet.location }}</p>
            <p><b>Описание: </b>{{ meet.description }}</p>
            <p><b>Количество участников: </b>{{ meet.players.count }}</p>
            <p>
                {% if user == meet.creator %}
                    <a href="{% url "manage_meeting" meet.pk %}">Управлять встречей</a>
                {% elif user.is_authenticated %}
                    {% if user not in meet.players.all and user not in meet.in_request.all %}
                        <a href="{% url "send_meet_request" meet.pk %}">Подать заявку на участие</a>
                    {% elif user in meet.in_request.all %}
                        <a href="{% url "leave_meet" meet.pk %}">Отменить заявку</a>
                    {% else %}
                        <a href="{% url "leave_meet" meet.pk %}">Покинуть встречу</a>
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <hr>
    {% empty %}
        Нет ни одной предстоящей встречи
    {% endfor %}
{% endblock %}