{% extends 'base.html' %}
{% load static %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static "users/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "users/css/friendlist.css" %}">
{% endblock %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="main-container" style="justify-content: space-around">
        <div class="profile-left">
            <img src="
                    {% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'img/no-avatar.png' %}{% endif %}"
                 alt="Ooops" style="max-width: 100%">
            <p><strong>Имя: </strong>{{ profile.user.first_name|default:"Не указано" }}</p>
            <p><strong>Фамилия: </strong>{{ profile.user.last_name|default:"Не указана" }}</p>
            <p><strong>Username: </strong>{{ profile.user.username }}</p>
            <p><strong>Email: </strong>{{ profile.user.email|default:"Не указан" }}</p>
            <p><strong>Пол: </strong>{{ profile.get_gender_display|default:"Не указан" }}</p>
            <p><strong>Город: </strong>{{ profile.location|default:"Не указан" }}</p>
            {% if owner %}
                <a href="{% url "profile_editing" user.id %}"><input type="button" value="Редактировать"></a>
                <a href="{% url "password_change" %}"><input type="button" value="Изменить пароль"></a>
            {% endif %}
        </div>
        <div class="profile-middle">
            {% comment %}            {% if not profile.email_confirmed and owner %}
                <p style="color: darkred">Внимание, ваш email не подтвержден, некоторые действия могут быть недоступны.</p>
                <a href="#"><input type="button" value="Подтвердить Email"></a>
                <hr>
            {% endif %}{% endcomment %}
            <p><strong>О себе: </strong>{{ profile.bio|default:"Информация не указана" }}</p>
            <hr>
            {% include fl_template_name %}
        </div>
        <div class="profile-right">
            <h3>Скоро здесь будут отображаться уведомления ⌛</h3>
        </div>
    </div>
{% endblock %}