{% extends 'base.html' %}
{% load static %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static "users/css/profile.css" %}">
    <link rel="stylesheet" href="{% static "users/css/friendlist.css" %}">
{% endblock %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="main-container" style="justify-content: space-around">
        <div class="profile-left {% if not owner %}without-notifications{% endif %}">
            <img src="
                    {% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'img/no-avatar.png' %}{% endif %}"
                 alt="Ooops" style="max-width: 100%">
            <p><strong>Имя: </strong>{{ profile.user.first_name|default:"Не указано" }}</p>
            <p><strong>Фамилия: </strong>{{ profile.user.last_name|default:"Не указана" }}</p>
            <p><strong>Username: </strong>{{ profile.user.username }}</p>
            <p><strong>Email: </strong>{{ profile.user.email|default:"Не указан" }}</p>
            <p><strong>Пол: </strong>{{ profile.get_gender_display|default:"Не указан" }}</p>
            <p><strong>Город: </strong>{{ profile.location|default:"Не указан" }}</p>
            {% if owner %}
                <a href="{% url "profile_editing" user.id %}"><input type="button" value="Редактировать"></a>
                <a href="{% url "password_change" %}"><input type="button" value="Изменить пароль"></a>
            {% endif %}
        </div>
        <div class="profile-middle {% if not owner %}without-notifications{% endif %}">
            <p><strong>О себе: </strong>{{ profile.bio|default:"Информация не указана" }}</p>
            <hr>
            <a href="{% url "profiles_list" %}"><input type="button" value="Поиск среди пользователей"
                                                       style="font-size: 1rem"></a>
            {% include fl_template_name %}
        </div>
        {% if owner %}
            <div class="profile-right">
            <h3 style="text-align: center">Уведомления</h3>
            <hr>
            <p><strong>Новые уведомления: </strong></p>
            {% for notification in unread_notifications %}
                <div class="profile-notification">
                    <p>{{ forloop.counter }}. {{ notification.message|safe }}</p>
                    <a href="{% url "read_notification" notification.pk %}">В прочитанные </a>
                </div>
            {% empty %}
                Пусто
            {% endfor %}
            {% if unread_notifications %}
                <p><a href="{% url "read_all_notification" %}"> Прочитать все </a></p>
            {% endif %}
            <hr>
            <p><strong>Прочитанные уведомления:</strong></p>
            {% for notification in read_notifications %}
                <div class="profile-notification">
                <p>{{ forloop.counter }}. {{ notification.message|safe }}</p>
                    </div>
                {% empty %}
                    Пусто
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}