{% extends 'base.html' %}
{% load static %}
{% load boardgames_custom_filters boardgames_custom_tags%}

{% block title %}
    Wishlist
{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'boardgames/css/list_view.css' %}">
    <link rel="stylesheet" href="{% static 'css/paginate.css' %}">
{% endblock %}

{% block content %}
    {% if search_str %}
        <h3 style="text-align: center">Вот что нашлось по запросу "{{ search_str }}": </h3>
    {% endif %}
{% include 'pagination.html' with page=page_obj%}
<!-- Вывод всех игр -->
    <div class="main-container">
        <div class="list-container">
            {% for game in wishlist %}
                {% list_item_game %}
            {% empty %}
                <h1 style="text-align: center">Ваш wishlist пока ещё пустой</h1>
            {% endfor %}
        </div>
        {% include 'sidebar.html' %}
    </div>

<!-- Пагинация -->
{% include 'pagination.html' with page=page_obj%}
{% endblock %}