{% extends 'base.html' %}
{% load static %}
{% load boardgames_custom_filters %}

{% block title %}
    Wishlist
{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'boardgames/css/list_view.css' %}">
    <link rel="stylesheet" href="{% static 'boardgames/css/paginate.css' %}">
{% endblock %}

{% block content %}
    {% if search_str %}
        <h3 style="text-align: center">Вот что нашлось по запросу "{{ search_str }}": </h3>
    {% endif %}
{% include 'boardgames/pagination.html' with page=page_obj%}
<!-- Вывод всех игр -->
    <div class="main-container">
        <div class="list-container">
            {% for game in wishlist %}
                <div class="list-item {% cycle 'odd' 'even' %}">
                    <img src="{{ game.photo.url }}" alt="Ooops">
                    <a href="{{ game.get_absolute_url }}"><h1>{{ game.title }}</h1></a>
                    <p>{{ game.description | truncatewords:100 }}</p>
                    <form action="{% url "wl_adding" game.tesera_alias %}">
                        <input type="hidden" name="next" value="{{ game|url_with_anchor:request }}">
                        {% if game in users_wl %}
                            <input type="submit" value="Удалить из Wishlist">
                        {% else %}
                            <input type="submit" value="Добавить в Wishlist">
                        {% endif %}
                    </form>
                </div>
            {% empty %}
                <h1>Ваш wishlist пока ещё пустой</h1>
            {% endfor %}
        </div>
        {% include 'sidebar.html' %}
    </div>

<!-- Пагинация -->
{% include 'boardgames/pagination.html' with page=page_obj%}
{% endblock %}