.main-container {
    display: flex;
    /*flex-direction: row;*/
    max-width: 1400px;
    margin: auto;
}


.list-container {
    /*flex-wrap: nowrap;*/
    /*display: inline-block;*/
    /*max-width: 1219px;*/
    width: 80%;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 55px;
    /*margin: auto;*/
}

.sidebar {
    align-self: start;
    position: sticky;
    top: 90px;
    width: 20%;
    padding: 10px;
}

.list-item {
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.list-container img {
    padding-right: 20px;
    float: left;
}

.list-container h1 {
    margin-top: 0;
}

.list-item.odd {
    box-shadow: 0 0 30px #503d98;
}

.list-item.even {
    box-shadow: 0 0 30px seagreen;
}