* {
    font-family: "Roboto Light", sans-serif;
}

.nav-container {
    justify-content: center;
    flex-wrap: wrap;
    background-color: darkslategrey;
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    font-size: 24px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.nav-item {
    color: #bbffdd;
    box-sizing: border-box;
    padding: 0.5em;
    background-color: seagreen;
    border-radius: 10px;
    min-width: 12rem;
    margin: 5px 10px;
    display: inline-block;
}

.nav-item:hover {
    background: #bbffdd;
    color: seagreen;
}