{% extends 'boardgames/index.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
    <div class="index-text about-text" style="text-align: justify-all">
        <h2>О проекте:</h2>
        <p>Данный проект реализован в рамках изучения python в целом и фрeймворка Django в частности.</p>
        <p>Используемая БД – PostgreSQL.</p>
        <p>Стандартная модель пользователя
            <a href="https://docs.djangoproject.com/en/4.0/ref/contrib/auth/#user-model">django.contrib.auth.models.User</a>
            расширена путем <a
                    href="https://docs.djangoproject.com/en/4.0/ref/models/fields/#django.db.models.OneToOneField">One-to-one
                связи</a> с моделями
            Profile и Wishlist.</p>
        <p>Для завершения регистрации пользователю необходимо подтвердить введенный на этапе регистрации email – на
            почту направляется проверочный код, который необходимо ввести на завершающем этапе регистрации.
            Зарегистрированный и аутентифицированный пользователь получает возможность редактировать состав своего
            Wishlist’а, создавать новые встречи и подавать запросы на участие в уже созданных встречах, отправлять
            запросы
            на добавление пользователей во френдлист.</p>
        <p>Добавление других пользователей во френдлист дает возможность отслеживать их активность на сайте: посредством
            <a href="https://docs.djangoproject.com/en/4.0/ref/signals/">сигналов</a> запускаются callback-функции на
            создание уведомлений пользователям, находящимся в списке друзей
            (используются post_save, post_delete, m2m_changed сигналы), например, при создании другом встречи или при
            добавлении им
            новой игры в Wishlist. Подобным образом пользователю направляются уведомления об изменении его статуса во
            встречах (принятие, отклонение запроса, удаление из состава игроков) и статуса дружбы с другими
            пользователями.</p>
        <p>Выполнение периодических и занимающих долгое время задач реализовано с помощью <a
                href="https://docs.celeryq.dev/en/stable/index.html">Celery</a> в связке с
            <a href="https://redis.io/">Redis</a> в
            качестве брокера/бэкэнда. На данный момент Celery выполняет следующие задачи:
        <ul>
            <li>Раз в сутки парсинг тематических сайтов и добавление в БД новых настольных игр;</li>
            <li>Отправка пользователю письма для подтверждения email при регистрации;</li>
            <li>Отправка писем пользователям, участвующим во встрече, за определенное время до начала встречи.</li>
        </ul>
        </p>
        <p>Сведения обо всех играх доступны также через API (/api/v0/games/), реализация с Django REST Framework.</p>
        <p>Фронтенд реализован без использования CSS-фреймфорков (Bootstrap и пр.)</p>
        <p>Деплой сайта – свзяка Nginx + Gunicorn. Автоматический запуск gunicorn и Celery (workers, beat) обеспечивает
            настроенный менеджер процессов supervisor. Присутствует SSL.</p>

        <p>Дальнейшие планы по усовершенствованию проекта:
        <ul>
            <li> Добавление нового функционала (комментарии к играм и встречам, фильтры поиска, настройка отображения
                данных другим пользователям)
            </li>
            <li>Изучение JavaScript и на более глубоком уровне DRF (для реализации отдельного функционала через
                AJAX-запросы);
            </li>
            <li>Рефакторинг кода и оптимизация запросов к БД;</li>
            <li>Приведение интерфейса в более приятный вид и адаптация под мобильные экраны.</li>
        </ul>
        </p>

        <p><a href="https://github.com/YashinIlya1996/boardgame_django">Код проектка доступен на GitHub</a></p>
        <p>По всем вопросам можете обращаться в телеграм <a href="https://t.me/imyashin">@imyashin</a> </p>
    </div>
{% endblock %}