{% extends 'base.html' %}
{% load static %}
{% load boardgames_custom_filters %}

{% block title %}
    Список Игр
{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'boardgames/css/list_view.css' %}">
    <link rel="stylesheet" href="{% static 'boardgames/css/paginate.css' %}">
{% endblock %}

{% block content %}
{% include 'boardgames/pagination.html' with page=page_obj%}
<!-- Вывод всех игр -->
<div class="list-container">
    {% for game in all_games %}
        <div class="list-item {% cycle 'odd' 'even' %}" id="{{ game.tesera_alias }}">
            <img src="{{ game.photo.url }}" alt="Ooops">
            <a href="{{ game.get_absolute_url }}"><h1>{{ game.title }}</h1></a>
            <p>{{ game.description | truncatewords:100 }}</p>
            {% if user.is_authenticated %}
                <form action="{% url "wl_adding" game.tesera_alias %}">
                    <input type="hidden" name="next" value="{{ game|url_with_anchor:request }}">
                    {% if game in users_wl %}
                        <input type="submit" value="Удалить из Wishlist">
                    {% else %}
                        <input type="submit" value="Добавить в Wishlist">
                    {% endif %}
                </form>
            {% endif %}
        </div>
    {% empty %}
        <h1> Увы, ничего не нашлось :( </h1>
    {% endfor %}
</div>

<!-- Пагинация -->
{% include 'boardgames/pagination.html' with page=page_obj%}
{% endblock %}