{% extends 'base.html' %}
{% load static %}
{% load boardgames_custom_filters boardgames_custom_tags %}

{% block title %}
    Список Игр
{% endblock %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static 'boardgames/css/list_view.css' %}">
    <link rel="stylesheet" href="{% static 'boardgames/css/paginate.css' %}">
{% endblock %}

{% block content %}

    {% if search_str %}
        <h3 style="text-align: center">Вот что нашлось по запросу "{{ search_str }}": </h3>
    {% endif %}

    {% include 'boardgames/pagination.html' with page=page_obj %}
    <!-- Вывод всех игр -->
    <div class="main-container">
        <div class="list-container">
            {% for game in all_games %}
                {% list_item_game %}
            {% empty %}
                <h1> Увы, ничего не нашлось :( </h1>
            {% endfor %}
        </div>
        {% include 'sidebar.html' %}
    </div>
    <!-- Пагинация -->
    {% include 'boardgames/pagination.html' with page=page_obj %}
    <p> Всего игр на сайте: {{ count }}</p>
{% endblock %}