{% load boardgames_custom_filters %}

<div class="list-item {{ odd_even }}" id="{{ game.tesera_alias }}">
    <img src="{{ game.photo.url }}" alt="Ooops">
    <a href="{{ game.get_absolute_url }}"><h1>{{ game.title }}</h1></a>
    <p>{{ game.description | truncatewords:100 }}</p>
    {% if user.is_authenticated %}
        <form action="{% url "wl_adding" game.tesera_alias %}">
            <input type="hidden" name="next" value="{{ game|url_with_anchor:full_path }}">
            {% if game in users_wl %}
                <input type="submit" value="Удалить из Wishlist" style="float: right">
            {% else %}
                <input type="submit" value="Добавить в Wishlist" style="float: right">
            {% endif %}
        </form>
    {% endif %}
</div>