{% extends 'base.html' %}
{% load static %}

{% block css_addition %}
    <link rel="stylesheet" href="{% static "boardgames/css/index.css" %}">
{% endblock %}

{% block title %}Главная{% endblock %}
{% block content %}
    <div class="index-text">
        <h1>Добро пожаловать в BoardGames</h1>
        <p>Если Вас интересуют подробности реализации и описание технической части проекта - <br>
            Вам <strong><a href="{% url "about" %}">сюда</a></strong></p>
        <p>Если же Вас интересует контент сайта - переходите на соответствующую вкладку. <br>
        P.S.: Регистрация откроет больше возможностей.</p>
    </div>
{% endblock %}