{% if page.has_other_pages %}
<div class="paginate">
    {% if page.number > 3 %}
    <a href="?page=1">
        <div class="paginate-item">1</div>
    </a>
    ...
    {% endif %}

    {% if page.number > 2 %}
    <a href="?page={{ page.number|add:-2 }}">
    <div class="paginate-item">{{ page.number|add:-2 }}</div>
    </a>
    {% endif %}

    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">
        <div class="paginate-item">{{ page.previous_page_number }}</div>
    </a>
    {% endif %}


    <div class="paginate-item current">
        {{ page.number }}
    </div>

    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}">
        <div class="paginate-item">{{ page.next_page_number }}</div>
    </a>
    {% endif %}

    {% if page.number <= page.paginator.num_pages|add:-2 %}
    <a href="?page={{ page.number|add:2 }}">
        <div class="paginate-item">{{ page.number|add:2 }}</div>
    </a>
    {% endif %}

    {% if page.number < page.paginator.num_pages|add:-2 %}
        ...
    <a href="?page={{ page.paginator.num_pages }}">
        <div class="paginate-item">{{ paginator.num_pages }}</div>
    </a>
    {% endif %}
</div>
{% endif %}