<div class="sidebar">
    <form action="">
        <input type="text" name="search">
        <input type="submit" value="Поиск" style="width: 45%; display: inline-block;">
        <a href="{% url "clear_search" %}?next={{ request.path }}"><input type="button" value="Сбросить"
                                                                          style="width: 45%; display: inline-block; float: right"></a>
    </form>
    <h3>Добро пожаловать, {{ user.get_full_name|default:user.username }}</h3>
</div>