.profile-left {
    width: 20%;
    box-shadow:  0 0 30px darkslategrey;
    border-radius: 10px;
    padding: 20px;
}

.profile-left input[type=button] {
    width: 100%;
}

.profile-middle {
    width: 55%;
    padding: 20px;
    box-shadow:  0 0 30px darkslategrey;
    border-radius: 10px;
    max-height: 80vh;
    overflow: auto;
}

.profile-right {
    width: 20%;
    padding: 20px;
    box-shadow:  0 0 30px darkslategrey;
    border-radius: 10px;
    max-height: 80vh;
    overflow: auto;
}

.profile-notification {
    width: 100%;
    margin-bottom: 20px;
}

.profile-notification img {
    margin: 10px;
    float: left;
}

.profile-notification a {
    clear: both;
}